body {
/*background:#EEEEEE none repeat scroll 0 0;*/
background:white url(/extranet/++resource++ictextranet.theme.images/gradient_extranet.jpg) repeat-x scroll 0 0;
/*border-top:5px solid #EEEEEE;*/
color:#333333;
font-family:Helvetica,Arial,FreeSans,sans-serif;
font-size:100%;
/*font-size-adjust:none;*/
/*font-stretch:normal;*/
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1.5;
padding:0 0 40px;
}

#portal-logo {
    float:left;
    padding: 0 0 0 25px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
/*background:transparent none repeat scroll 0 0;*/
/*border:0 none;*/
/*font-size:100%;*/
margin:0;
/*outline-color:-moz-use-text-color;*/
/*outline-style:none;*/
/*outline-width:0;*/
padding:0;
/*vertical-align:baseline;*/
}

th {
    width:1%;
}

.container_16 {
background:#FFFFFF url(/logo.jpg) no-repeat scroll 15px 12px;
margin-left:4%;
margin-right:4%;
/***needed that one specific style for the portal registry******/
margin-bottom:3em;
width:92%;
padding-top: 10px;
}

.firstdiv {
    /*float: left;
    margin-left: 200px;
    width: 31%;*/
    margin: auto;
        text-align: center;
        width: 100%;

}
.thirddiv {
    float: right;
    height: 88px;
}

/*#personaltools {
    float: left;
    text-align: right;
    width: 400px;
}*/

.container_16 .grid_16 {
/*background:#FFFFFF url("/logo.jpg") no-repeat scroll 15px 3px;*/
display:inline;
float:left;
/*this style was needed to get rid off the white space on top of the content*/
margin-top:0;
margin-bottom:0;
margin-left:1%;
margin-right:0;
width:60%;
}

.grid_15 {
background:#FFFFFF none repeat scroll 0 0;
border-bottom:0 solid #8CACBB;
display:inline;
float:right !important;
margin-bottom:0 !important;
margin-left:0 !important;
margin-right:15px !important;
padding:0 0 0;
text-align:right;
}

h1.branding {
background:transparent none repeat scroll 0 0;
/*float:left;*/
/*float:right;*/
font-size:1.5em;
font-weight:normal;
/*margin:0 0 0 75%;*/
/*padding:3px 0 0.5em;*/
/*padding:3px 5em 0.5em;*/
text-align:center;
/*width:32%;*/
clear:none;
}

dl.portalMessage {
margin:0.5em 0 0;
}

#main_link {
    font-size:13px;
    margin-left:42px;
}

#main_link a {
color:#3A4AC7 !important;
}

h2.branding {
background:#FFFFFF none repeat scroll 0 0;
font-size:1.5em;
font-weight:normal;
margin-bottom:0;
padding:0.2em 0;
text-align:left;
}

h1, h2, h3, h4, h5, h6 {
line-height:1.2em;
margin-bottom:0.3em;
}

h1 a {
font-weight:normal;
}

a {
color:#000000;
font-weight:bold;
text-decoration:none;
}

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
background:transparent none repeat scroll 0 0;
border:0 none;
clear:both;
display:block;
float:none;
font-size:0;
height:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
overflow:hidden;
padding:0;
visibility:hidden;
width:0;
}

#breadcrumbs-you-are-here {
font-weight:normal;
margin:0 0 10px;
padding:0.5em;
}

.grid_15 label, .grid_15 input {
    float:left;
}

.searchButton {
height:25px;
margin:0 0 0 0.5em !important;
}

.searchSectionAdvanced, .searchSection {
/*float:left;*/
font-size:12px;
margin:0;
/*width:58%;*/
width:65%;
}

/*
Tweaks to display the livesearch results on the left
TODO test on all browsers
*/
.LSBox {
padding:0 0.5em 0 0;
/*width:237px;*/
width:215px;
}

#livesearch0 {
   overflow: visible;
}

/*.livesearchContainer {
   margin-top: 3.5em;
   left: 0;
}*/

.LSResult {
   left: 0px;
}

.grid_15 img {
border:medium none !important;
float:left;
padding-left:10px;
padding-right:5px;
}

#portal-home {
/*border-right:2px solid #7CBB22;*/
border-right:2px solid #000000;
/*color:#313398;*/
color:#000000;
float:left;
font-size:1em;
font-weight:bold;
line-height:28px;
padding-left:6px;
padding-right:1px;
width:90px;
}

#portal-space {
color:#000000;
font-size:1em;
font-weight:bold;
line-height:28px;
padding-left:6px;
padding-right:1px;
width:90px;
}

.container_12 .grid_3 {
    width:23%;
}
.container_16 .grid_4 {
    /*width:31%;*/
    width:32%;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
display:inline;
float:left;
margin-left:1%;
margin-right:1%;
margin-top:1%;
margin-bottom:1%;
}
/* special treatment for navigation grid items, we put margin only to the bottom to avoid double distances between navi lines */
.grid_4 {
    /*margin-bottom:0;*/
    margin:0.5% 0.5% !important;
}
.box {
    background:#EFEFEF none repeat scroll 0 0;
    padding:0px 8px 0px !important;
}

.box h2 {
    margin:0;
    padding: 4px 0;
}
.box h2 a {
    color:#333 !important;
    /*font-size: 14px;*/
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    line-height: 20px;
}
.box a {
    color:#666;
    font-size:12px;
    font-weight:normal;
    text-decoration:none;
}
.box a:visited {color:#880088;}
.box a:hover {color:#000; text-decoration: none !important;}
.box h2 a:hover {text-decoration: underline !important;}


.block {
margin:0;
padding:0;
}


.block a {
    text-decoration:underline;
}

p {
margin-bottom:1em;
}


/*css für Listingtable*/

#listing-table {
border-left:1px solid #E3E2E2;
border-right:1px solid #E3E2E2;
border-top:1px solid #E3E2E2;
/*margin-bottom:6px;*/
margin-bottom:5px;
margin-left:1px !important;
padding-left:0;
width:99.9%;
}

#foldercontents-title-column {
text-align:left;
width:59%;
}

thead {
background:#999999 none repeat scroll 0 0;
border-bottom:0 solid #666666;
border-top:1px solid #E3E2E2;
margin-bottom:0.5em;
padding-bottom:1%;
}

/*.nosort {
    background:#EFEFEF !important;
}*/
#foldercontents-title-column {
    background:#EFEFEF;
}
#foldercontents-size-column {
    background:#EFEFEF;
    text-align:left;
    width:10%;
}
#foldercontents-modified-column {
    background:#EFEFEF;
    text-align:left;
    width:20%
}
#foldercontents-status-column {
    background:#EFEFEF;
    text-align:left;
    width:10%;
}
#foldercontents-order-column {
    background:#EFEFEF;
    text-align:left;
    width:10%;
}

.odd {
    /* background:#FFFFFF none repeat scroll 0 0; */
}

#listing-table img {
margin:0 0.2em 0;
}

#listing-table span {
margin:0.5em 0.2em 0;
}

.state-published {
    margin:0;
    padding:0;
    color: #3A4AC7 !important;
}

.state-private {
margin:0;
padding:0;
color: #3A4AC7 !important;
}

.draggingHook {
    padding:0 0.5em;
}

.box6 a {
    color:#ffffff;
}

.box6 {
background:#DDDDDD none repeat scroll 0 0;
float:left;
margin:1%;
padding:10px 10px 1px;
width:46%;
}

.box6 h2 {
background:#333333 none repeat scroll 0 0;
color:#FFFFFF;
font-size:1em;
font-weight:normal;
margin:-10px -10px 0;
padding:6px 12px;
text-transform:uppercase;
}

/*entfernt damit das reference browser widget fehlerlos erscheint****/
/*form {
overflow:hidden;
}*/

fieldset {
background:#E9E9E9 none repeat scroll 0 0;
border:1px solid #BBBBBB;
margin-bottom:5px;
padding:10px 20px;
position:relative;
}

/* Adding default plone css to tinymce popups e.g. Insert/edit image
since they get clobbered by other ict specific css rules */

div#content.dialog-wrapper {
   font-size: 0.9em;
}

div.dialog-wrapper fieldset {
   background: none;
   padding: 0 0.5em 0.5em;
   margin: -1em 0.5em 0.5em 0.5em;
   line-height: 1.5em;
}

div.dialog-wrapper fieldset .field,
div.dialog-wrapper fieldset input {
   line-height: 1.5em;
}


div.dialog-wrapper fieldset input.searchButton {
   margin-top: 4px !important;
}

div.dialog-wrapper legend  {
   background:none repeat scroll 0 0 White;
   padding: 0.5em;
   border: none;
}

div.dialog-wrapper ul.configlets li {
   display: block;
}

legend {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #BBBBBB;
font-size:1.1em;
padding:0.4em 0.8em;
}

form p.notice {
font-weight:bold;
}

fieldset.login p {
margin-bottom:1em;
margin-top:0;
}

fieldset.login p label {
float:left;
line-height:2em;
margin-right:3%;
text-align:right;
width:32%;
}

fieldset.login p input {
width:60%;
}

fieldset.login input.button {
margin-left:35%;
}

#kwick-box {
overflow:hidden;
padding:0;
}

#kwick-box h2 {
margin:0;
}

#kwick {
position:relative;
}

#kwick .kwicks {
background:#999999 none repeat scroll 0 0;
display:block;
height:120px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
overflow:hidden;
}

#kwick .kwick {
background:#FFFFFF none repeat scroll 0 0;
cursor:pointer;
display:block;
height:100px;
overflow:hidden;
padding:10px;
width:215px;
}

ul, ol {
padding-top:0;
}

#kwick li {
float:left;
margin:0;
padding:0;
}

/*li {
margin-left:30px;
}*/

#kwick .one {
background:#666666 none repeat scroll 0 0;
}

#kwick .kwick span {
color:#FFFFFF;
}

#kwick .two {
background:#777777 none repeat scroll 0 0;
}

#kwick .three {
background:#888888 none repeat scroll 0 0;
}

#kwick .four {
background:#999999 none repeat scroll 0 0;
}

/*.box h2 a {
 color:#fff;
}*/

#portal-personaltools li a {
color:#3E4E9F;
}

/*************css flyout menu*********/

.articles {
margin-left:4%;
margin-right:4%;
padding:10px 10px 1px;
}

.articles h2 {
margin:0;
}

.grid_5 .box h2 a {
background-position:98% 50%;
}

/*.box h2 a, .box h2 a.visible {
border:medium none;
color:#666666;!important;
display:block;
margin:-6px -12px;
padding:6px 12px;
}*/
/* background:#333333 url(switch_minus.gif) no-repeat scroll 97% 50%; */


.box .first {
border-top:medium none;
}

.box .article {
border-top:3px solid #FFFFFF;
padding:13px 10px 0;
}

.article {
border-top:1px solid #666666;
padding-top:0.5em;
}

.article p.meta {
border-bottom:1px dotted #999999;
border-top:1px dotted #999999;
color:#666666;
margin-bottom:0.8em;
padding:0.3em 0;
}

.article a.image {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #BBBBBB;
float:left;
margin:3px 10px 3px 0;
padding:4px;
}

.article a.image img {
float:left;
}

p {
margin-bottom:1em;
}

a {
color:#000000;
font-weight:normal;
text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
line-height:1.2em;
margin-bottom:0.3em;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
margin-bottom:20px;
}

.article h2 {
background:transparent none repeat scroll 0 0;
border:medium none;
color:#333333;
font-size:2em;
font-weight:normal;
margin:0;
padding:0;
text-transform:none;
}

.article h3 {
font-size:1.6em;
margin-bottom:0.2em;
}

.article h4 {
font-size:1.2em;
margin-bottom:0.5em;
text-transform:uppercase;
}

h5 {
font-size:1.2em;
}

h6 {
font-size:1em;
text-transform:uppercase;
}

#accordion {
margin: 0px;
}

/*****************css after applying xdv styles*********/

#top-navigation {
margin-bottom:0;
}

#top-navigation li {
display:inline;
}

#top-navigation li a {
color:black;
}

#top-navigation li a:hover {
color:white;
}

/* These rules hide a header which has not been moved properly by xdv */
/* #content h1 {
    display:none;
}
*/
/* removing the removed byline again, so that we can have a byline with history
#plone-document-byline {
    display:none;
}
*/

.context {
background:transparent url(/linkTransparent.gif) no-repeat scroll 2px 4px;
font-size:80%;
margin:0 1% 0 0;
}

.context:hover {
background:#efefef url(/linkTransparent.gif) no-repeat scroll 2px 4px;
border:1px solid #e2e2e2;
font-size:80%;
margin:0 1% 0 0;
}

input.searchButton {
    background: url("/search_icon.gif") no-repeat scroll 2px 5px transparent;
    border: 1px solid #3E4E9F;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 90%;
    height: 24px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 12px;
    padding: 1px 1px 0 19px;
    position: static;
    text-transform: none;
}

.searchSectionAdvanced input, .searchSection input {
margin-right:3%;
margin-top:3.9%;
}

.searchSection label {
color:#000;
margin-top:0.2em;
}

#actionbar {
    float:right;
}

/**********************css for the bottom bit fixed*********************/

#dockbottoms {
position:fixed;
bottom:0;
clear:both;
width:92%;
padding:2px 0 0;
border:1px solid #999;
border-bottom:0;
background-color:#fff;
z-index:11000;/*Allow layering*/
margin: auto;
}

#dockbottoms-inner {
float:left;
width:100%;
height:35px;
padding:0;
position:relative;
background-color:#ccc;
}

/*Reset defaults in the narrow space*/

#dockbottoms-inner .block {
padding-bottom:0;
margin-bottom:0;
padding-top:5px;/*Match .slider for chat*/
}

#dockbottoms-inner #dockbottom-first {
margin-left:15px
}

/* Dockbottoms regions

* first | middle | last

---------------------------*/

#dockbottoms-inner.dockbottoms-1 .column {
float:left;
width:100%
}

#dockbottoms-inner.dockbottoms-2 .column {
display:block;
float:left;
margin:0 14px;
width:47%
}

#dockbottoms-inner.dockbottoms-3 .column {
display:block;
float:left;
margin:0 14px;
width:30%
}

/*Chat block sample, adjust everything here*/

#chat-wrapper {
width:160px;
position:absolute;
bottom:5px;
right:16px;
z-index:11002;/*value above #dockbottoms-inner*/
text-align:center;
border:1.5px solid #ADADAD
}

#chat {
height:500px;
background-color:#E8E9ED;
text-align:left;
display:none;/*hide the chat block, let jquery toggles*/
}

.slider {
position:relative;
z-index:11003;/*value above #chat*/
height:28px;
padding:0;
background-color:#E8E9ED;
margin-top:-5px;/*Match #dockbottoms-inner .block */
}

/*Add image if necessary, such close or open buttons*/

.toggleup,.toggledown {
text-align:center;
display:block;
line-height:22px;
background-color:#E8E9ED;/*Match .slider*/
}

/*Menu links in the dock. Correct disturbing stuffs from system*/

#dockbottoms li.collapsed,#dockbottoms li.leaf {
list-style-image:none;
list-style-type:none;
margin:0;
padding:0.2em 0.5em 0 0
}

#dockbottoms ul.menu {
list-style-position:inside
}
#content ul {
margin:0 0 0 1em;
}

#content-core ol {
margin:0 0 0 1.5em;
}
#content ul.star-rating {
   margin: 0px;
}

.navTree a:hover {
   text-decoration: underline;
}


/******logout Link*****/
#logoutlink {
float:right;
margin-top:18px;
padding-top:5px;
width:55px;
}

#logoutlink a:hover {
    text-decoration:underline;
}

/********fix for font footpanel chat*********/

#footpanel a.chat {
background:transparent url(++resource++babble.client.images/comment_32.png) no-repeat scroll 3px center;
border-left:1px solid #BBBBBB;
border-right:1px solid #BBBBBB;
font-size:14px;
padding-left:40px;
text-indent:0;
width:126px;
}

/***************Zusatzdefinitionen***************/
h1, h2 {
border-bottom:0 solid #8CACBB;
clear:both;
margin-bottom:10px;
margin-top:10px;
}

/* What is this for?
h2 a {
color:#000000;
text-decoration:none;
}

h1 a {
color:#000000;
text-decoration:none;
}
*/

table.listing, .stx table {
border-bottom:1px solid #E3E2E2;
border-collapse:collapse;
border-left:1px solid #E3E2E2;
border-spacing:0;
/*font-size:90%;*/
font-size:13px;
margin:0;
width:99%;
}

table.listing td, .stx table td {
border-right:0 solid #E3E2E2;
padding:0.25em 0.5em;
}

table.listing td {
    border:1px solid #E3E2E2 !important;
}
table.listing th {
border:1px solid #E3E2E2 !important;
}

#eventDetails table.listing td {
    font-size:80%;
}

body a {
    color:#3a4ac7;
}

table.listing th, .stx table th {
background:#EFEFEF none repeat scroll 0 0 !important;
border-bottom:1px solid #CACACA !important;
border-right:0 solid #8CACBB;
border-top:0 solid #8CACBB;
font-weight:bold;
font-size: 80%;
}

/* Styles for the control panel */
dl#portlet-prefs {margin: 1%;}
ul.configlets { margin:0 ;}
ul.configlets li { display: inline; margin-left: 0; margin-right: 0.5em;}
dl#portlet-prefs dd { padding:0.5em;}


/* Portlet Styles */
.portlet { border-bottom:1px solid #8CACBB; margin: 0;}


/***************loginpage***********/
#__ac_password {
    margin-left:19px;
}
/*#personaltools {
    /*float:right;*/
    /*margin-top: 20px;*/
   /* text-align: right;
    /*width: 800px;*/
    /*margin-right:1.5%;
}*/
#portal-personaltools {
    background-color: transparent;
    border-top: 0;
    border-bottom:0;
    display:inline;
    font-size:80%;
    padding:0;
}
a#user-name img {
    padding-left:0;
    padding-right:0;
}
/**************header area***********/

/* In the static theme, this class is called 'branding' */
h1.documentFirstHeading {
background: none repeat scroll 0 0 !important;
font-size:1.5em;
font-weight:normal;
/*margin:0.5em 0 !important;*/
margin:0.1em 0 !important;
text-align:left;
}

#search-container {
    float: right;
    margin-top: 3px !important;
    padding-bottom: 0 !important;
    width: 235px;
}

#searchGadget {
border:1px solid #3E4E9F;
margin-bottom:5px;
padding-left:10px;
}

#portal-breadcrumbs {
border-bottom:1px solid #3E4E9F !important;
border-top:1px solid #3E4E9F !important;
line-height:1.6em;
margin:0 auto !important;
padding-left:1em;
padding-right:1em;
text-transform:none;
width:95% !important;
}

/**************contentarea***********/
/* TODO Fix the layout so that menu items can be displayed in full
Added min-height as a quick fix */
#content {
background:White none repeat scroll 0 0;
border:0px solid #EFEFEF;
font-size:110%;
margin-bottom:3em !important;
/* delete this style to fix the whitespace problem*/
/*min-height:30em;*/
padding:0 0 2em !important;
}

#folder-contents {
background:transparent !important;
width:98% !important;
}

#current-context-heading {
 border-bottom:1px solid #8CACBB;
 width:98% !important;
}

#status-messages-container {
  background:transparent none repeat scroll 0 0;
  width:98% !important;
}

/************document editable***********/

.contentViews li {
display:inline;
margin:0px!important;
padding-top:0.5em;
}

.contentViews li a {
background-color:#FFFFFF;
border-color: #C3C3C3;
border-style:solid solid none;
border-width:1px 1px 0;
color:#666666;
font-size:80%;
font-weight:normal;
height:auto;
line-height:normal;
margin-right:0.5em;
padding:3px 1em 0;
text-decoration:none;
text-transform:none;
z-index:1;
}

.actionMenu .actionMenuContent li a:hover {
background:#fff none repeat scroll 0 0;
color:#000;
}

.contentViews li a:hover {
background:#C3C3C3;
border-bottom:0 none;
color:#000;
}

.contentViews .selected a {
background-color:#C3C3C3;
border-bottom:0 none;
color:#000000;
}

.contentActions {
background-color:white;
border-left:0 solid #74AE0B !important;
border-right:0 solid #74AE0B !important;
border-top:1px solid #3E4E9F;
color:#000000;
height:1.6em;
margin-top:-1px;
padding:0 0 0 1em;
position:relative;
text-align:right;
text-transform:none;
z-index:2;
}

.contentActions a {
color:#666666;
cursor:pointer;
padding:0 0.5em;
text-decoration:none;
}

table.listing th, .stx table th {
background:#EFEFEF none repeat scroll 0 0;
border:0 solid #E3E2E2;
font-weight:normal;
padding:0.25em 0.5em;
text-transform:none;
}

.contentViews {
border-width:0 0 0;
background-color:transparent;
border:0 solid #EFEFEF;
}

.actionMenu .actionMenuHeader a {
display:block;
font-size:80%;
font-weight:normal;
height:23px;
}

.actionMenu .actionMenuHeader a:hover {
background:#fff;
}

.contentActions a span.subMenuTitle {
display:inline;
font-weight:normal;
padding:0;
}

/************seperate stuff***********/

.link-plain {
    margin-right:10px;
}

.even {
background:#EFEFEF none repeat scroll 0 0;
}

.documentFirstHeading img {
    display:none;
}

#language_1 {
    margin-right:10px;
}

#language_2 {
    margin-right:10px;
}

#excludeFromNav {
    margin-right:10px;
    margin-bottom:8px;
}

#allowDiscussion {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_1 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_2 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_3 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_4 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_5 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_6 {
    margin-right:10px;
    margin-bottom:8px;
}

#roles_7 {
    margin-right:10px;
    margin-bottom:8px;
}

.formControls .actionButtons .button, .documentEditable * .context {
border:1px solid #C3C3C3 !important;
padding: 1px 7px !important;
}

.context, .formControls .actionButtons .button, .documentEditable * .context {
border:1px solid #C3C3C3 !important;
background:transparent url(/linkTransparent.png) no-repeat scroll 2px 4px;
font-size:80%;
}

ul.configlets li {
margin-bottom:0.5em;
}

ul.configlets li a {
border-bottom:none!important;
border:medium none;
font-weight:normal;
text-decoration:none;
}

ul.configlets li a:hover {
color:#c3c3c3;
text-decoration:none;
font-weight:normal;
}

/****************footpanel**************/
#footpanel {
background:#E3E2E2 none repeat scroll 0 0;
border-color:#C3C3C3;
border-style:solid solid none;
border-width:1px 1px medium;
bottom:0;
left:0;
margin:0;
position:fixed;
width:100%;
z-index:9999;
}

#footpanel ul {
border-top:1px solid #FFFFFF;
float:left;
font-size:1em;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
width:100%;
}

#footpanel span.bottomfeeder_dimdim {
color:#436976;
height:32px;
padding:10px 2px 0 5px;
position:relative;
top:10px;
width:100%;
}

#footpanel a.bottomfeeder-hitlist{
background: url(++resource++ictextranet.theme.images/thehitlist.png) no-repeat center center;
}

#footpanel a.bottomfeeder-discussion {
background: url(++resource++ictextranet.theme.images/discussion.png) no-repeat center center;
}

#footpanel a.bottomfeeder-support {
background: url(++resource++ictextranet.theme.images/support.png) no-repeat center center;
}

#footpanel a.bottomfeeder-userfolder {
background: url(++resource++ictextranet.theme.images/userfolder.png) no-repeat center center;
}

#footpanel a.bottomfeeder-workspaces {
background: url(++resource++ictextranet.theme.images/workspaces_icon.png) no-repeat center center;
}

#footpanel a.bottomfeeder-fileshare {
background: url(++resource++ictextranet.theme.images/filesharing_icon.png) no-repeat center center;
}
#footpanel div#dimdim_pleaselogin {
    position: fixed;
    display: none;
    padding: 1em;
    z-index:10000;
    top: 10%;
    left:200px;
    margin:auto;
    background-color:#fff;
    width:545px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
#footpanel div#dimdim_pleaselogin img {
    float:left;
    margin-right: 1em;
}

#footpanel div#dimdim_pleaselogin table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
}
#footpanel div#dimdim_pleaselogin .closelinkcell {
    text-align: right;
}
#footpanel div#dimdim_pleaselogin .closelink {
        font-size: 90%;
}

#footpanel div#dimdim_pleaselogin .center {
    text-align: center;
    padding-top: 1em;
}

#footpanel a.bottomfeeder-privacy {
background: url(++resource++ictextranet.theme.images/oxygen-security-medium-32.png) no-repeat center center;
}

/*********************styles for tables************************/

#parent-fieldname-text table {
border-collapse:collapse;
font-family:Helvetica,Arial,FreeSans,sans-serif,"Lucida Grande",Sans-Serif;
font-size:12px;
letter-spacing:1px;
margin:20px;
text-align:left;
}

#parent-fieldname-text tr:hover td {
background:#E5E6E8 none repeat scroll 0 0;
}

#parent-fieldname-text th {
background:#E5E6E8 none repeat scroll 0 0;
border-color:#A1A8B2 #FFFFFF #FFFFFF #E5E6E8;
border-style:solid;
border-width:4px 1px 1px;
color:#003399;
font-weight:bold;
padding:8px;
}

#parent-fieldname-text td {
background:#F2F2F2 none repeat scroll 0 0;
border-bottom:1px solid #FFFFFF;
border-left:1px solid #F2F2F2;
border-right:1px solid #FFFFFF;
color:#003399;
padding:8px;
}

div#status-messages {
display:none; /* Hide the status message in the object contents area. For some reason the xdv rule doesn't move/remove it :-/ */
}

#portlet-slot-1, #portlet-slot-2 {
    margin: 0 1%;
}

#navigation-divs {
/*    margin-top:1%;*/
padding-left:0.8em;
}


/********************styles for css bugs in the extranet**************/
form.searchPage input.searchButton {
background-position:5px 6px;
height:25px;
margin-left:5px !important;
padding:1px 10px 1px 25px;
}

.livesearchContainer {
background-color:White;
border:1px solid #8CACBB;
color:#436976;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:10px;
padding:0 !important;
margin-top: 3.5em;
position:absolute;
right:0;
text-align:left;
text-transform:none;
top:0;
visibility:visible;
white-space:normal;
width:27em;
}

#chronos-calendar th {
background-color:#EFEFEF !important;
}

#calendar-view-tabs li.selected a {
background-color:#EFEFEF !important;
border-color:#666666 #666666 #EFEFEF !important;
border-style:solid !important;
border-width:1px !important;
color:#436976 !important;
padding-top:3px !important;
}

#calendar-view-tabs li a:hover {
background-color:#EFEFEF !important;
border-color:#666666 #666666 #EFEFEF !important;
border-style:solid !important;
border-width:1px !important;
color:#436976 !important;
padding-top:3px !important;
}

#calendar-view-tabs li a {
padding:3px 1.25em 0 !important;
}

.portletHeader, .managedPortlet .portletHeader {
background-color:#EFEFEF !important;
border:1px solid #666666 !important;
}

.portletFooter {
background-color:#F6F6F6;
border-color:#666;
border-bottom:1px solid #666666 !important;
}

.visualNoMarker li {
    padding-top:3px !important;
}

#reply {
    margin-bottom:10px !important;
}

.standalone, .documentEditable * .standalone {
background:#EFEFEF url(/linkOpaque.png) no-repeat scroll 9px 4px !important;
border:1px outset #EFEFEF;
font-size:80%;
margin:0 1% 0 0;
}

input[type="checkbox"] {
margin-bottom:0 !important;
margin-left:2px;
margin-right:3px;
margin-top:4px !important;
}

.ploneCalendar {
border-collapse:separate;
}

#parent-fieldname-eventUrl {
    font-size:80%;
}

#atrb_target {
    top:0 !important;
    left:265.5px !important;
}

#form-buttons-cancel {
    margin:10px 1% 0 0;
}

.pb-ajax #content-core ul {
font-size:85%;
margin:0 0 0 1em;
width:93%;
}

.pb-ajax #content-core ul li {
margin-bottom:10px;
}

.pb-ajax #content-core p {
margin-bottom:10px !important;
}

/*******styles for 3D effect**********/

.actionMenu.activated .actionMenuContent {
background:#EFEFEF none repeat scroll 0 0;
border:1px solid #EFEFEF;
border-spacing:0;
display:table !important;
margin-right:0;
margin-top:3px;
}

th.nosort {
background:#FFFFFF none repeat scroll 0 0 !important;
border-bottom:1px solid #EFEFEF !important;
}

.contentActions li {
border-left:0 solid #EFEFEF;
}

.actionMenu .actionMenuContent li {
font-size:80% !important;
}

.actionMenu .actionMenuContent li a img {
margin-right:3px;
}

span#parent-fieldname-description {
  margin-left:5px;
}

.listingBar {
background-color:#D9DCF2;
margin:0.5em 0;
}

/*
#content-core {
    border:collapse;
}*/

li.current-rating {
    margin-left:0px !important;
}

/**********************styles for searchresults*****************/
dl.searchResults {
    font-size:12px !important;
}

dl.searchResults img {
   margin-right:5px;
}

form.searchPage {
text-align:left !important;
}

input.searchPage {
font-size:100% !important;
}

.discreet {
color:#76797C !important;
font-size:75% !important;
font-weight:normal !important;
margin-top:5px !important;
}

input.inputLabelActive  {
width:205px !important;
}

fieldset input.searchButton {
margin-top:-10px !important;
}
/***********************styles for 3D effect****************/

.contentActions ul, .contentActions li {
border-top:1px solid #FFFFFF !important;
}

#edit-bar {
    text-align:right !important;
}

.actionMenu .actionMenuContent ul {
background:#FFFFFF none repeat scroll 0 0 !important;
border-color:#EFEFEF !important;
border-style:solid;
border-width:1px !important;
display:block;
margin:0 0 0 !important;
padding:0;
}

/********css for styles searchresults**************/

#portal-searchfacets {
background-color:#EFEFEF !important;
border:1px solid #999999 !important;
font-size:72.5% !important;
}

#portal-searchfacets h5 {
padding-bottom:0.4em !important;
padding-top:0 !important;
}

#portal-searchfacets dd {
line-height:17px !important;
}

/**********styles for poll***************/

#plonepopoll-viewlet #results li {
float:left;
list-style-type:none;
width:33%;
}

#plonepopoll-viewlet #results fieldset {
background:transparent none repeat scroll 0 0 !important;
border:0 none;
float:left;
font-size:0.8em;
font-style:italic;
margin:0;
padding:0;
width:59%;
}

#plonepopoll-viewlet #results .field fieldset {
width:290px;
}

#plonepopoll-viewlet #results .field fieldset legend {
float:left;
}

#plonepopoll-viewlet #results .field fieldset div {
float:left;
width:110px;
}

#plonepopoll-viewlet {
    clear:both;
border:1px solid #C3C3C3;
/*margin:2em 0 3em;*/
margin:0.5em 0 0.5em;
padding:0 1em;
}

#plonepopoll-viewlet .documentDescription {
    font-weight:normal;
    font-size:0.8em;
    margin:0;
}

#plonepopoll-viewlet legend {
border:0px solid #BBBBBB;
}

#plonepopoll-viewlet .documentActions ul {
margin:0;
}

#plonepopoll-viewlet .documentActions {
border-top:1px solid #8CACBB;
margin:0;
}

#plonepopoll-viewlet .documentActions {
    display:none;
}

/*This style is needed to delete the whitespace*/
.documentActions {
border-top:1px solid #3E4E9F;
margin:5px 0;
}

#plonepopoll-viewlet h1.documentFirstHeading {
font-size:1em;
}

#plonepopoll-viewlet .field {
   clear:right;
   float:left;
   margin:0 0 1em !important;
   background:transparent none repeat scroll 0 0 !important;
   font-size:0.9em;
}

#plonepopoll-viewlet .context {
font-size:70%;
}

/*This style is meant to make the border beneath the navigation disappear*/
#plonepopoll-viewlet {
border:0px solid #C3C3C3 !important;
}
/*******styles for the history tag******/
/*.documentByLine {
font-size:85%;
}*/

.documentByLine {
font-size:13px;
margin:0;
}

#content-history div.historyComment {
background-color:#EFEFEF;
margin:10px 0;
}
#content-history a.historyComparePrevious {
border-top:1px dotted #3E3E3E;
margin-bottom:0;
}
#content-history .historyAction {
color:#666666;
}

/*****************styling of the new class.notice box***********/
.notice {
    border:1px solid #EFEFEF;
    color:#666666;
    font-size:14px;
    /*margin:1em 0;*/
    margin:5px 0;
    padding:5px 5px 0;
}

/*********styles for the new hitlist**********/
body.template-hitlist .filter {
    float:left !important;
    min-height:800px !important;
    width:16% !important;
}
body.template-hitlist input {
margin:0 5px;
}
body.template-hitlist select {
height:230px;
}
body.template-hitlist li {
font-size:14px;
}

/*****************styles for the buttons below comments for the conversation-template***************/
.boardCommentActions .standalone, .documentEditable * .standalone {
background:#EFEFEF url(/++resource++ictextranet.theme.stylesheets/++resource++ictextranet.theme.images/Retract.png) no-repeat scroll 5px 5px !important;
border:1px outset #EFEFEF;
font-size:80%;
margin:5px 1% 0 0;
}

.boardCommentActions .standalone, .documentEditable * .standalone {
background:#EFEFEF url(/++resource++ictextranet.theme.stylesheets/++resource++ictextranet.theme.images/Retract.png) no-repeat scroll 5px 5px !important;
border:1px outset #EFEFEF;
font-size:80%;
margin:5px 1% 0 0;
}

.boardCommentActions .context, .formControls .actionButtons .button, .documentEditable * .context {
background:#EFEFEF url(/++resource++ictextranet.theme.stylesheets/++resource++ictextranet.theme.images/Edit.png) no-repeat scroll 5px 5px;
border:1px outset #EFEFEF !important;
float:left;
font-size:80%;
padding-right:23px;
}

.boardCommentActions .destructive, .documentEditable * .destructive {
background:#EFEFEF url(/++resource++ictextranet.theme.stylesheets/++resource++ictextranet.theme.images/Delete.png) no-repeat scroll 5px 5px;
border:1px outset #EFEFEF;
color:Black;
cursor:pointer;
font-size:80%;
padding:1px 1px 1px 15px;
text-transform:none;
}

/**********************css for member-details*********************/
body.template-member_details img#portrait {
   margin:0.5em;
}

body.template-member_details div#member-details {
    border:1px solid #EFEFEF;
    margin:1em 0;
    padding:0.5em;
}

body.template-member_details div#member-details dd,
body.template-member_details div#member-details dt {
    width:50%;
    float:left;
}

/**********increase the width of the field for email*********/
body.template-usergroup-userprefs #formfield-form-email input,
body.template-new-user input#form\.email {
    width: 20em;
}

/**********slc.outdated**********/

#slc-outdated {
    font-size: 80%;
}
#slc-outdated .slc-outdated {
    color: #990000;
    font-style: italic;
}
.listing .slc-outdated {
    font-style: italic;
}
.listing a.slc-outdated {
    color: #AABAFF;
}
a.show-outdated {
    background: url("++resource++outdated_mini.png") no-repeat scroll 0 -1px rgba(0, 0, 0, 0);
    display: inline;
    font-size: 75%;
    padding: 1px 0 10px 22px;
    text-decoration: none;
}
a.link-parent {
    display: inline;
    padding-right: 30px;
}

/******************css fix for IE 7************/
*+html h1.branding {
display:inline;
float:right;
position:relative;
right:150px;
width:250px;
}
*+html #main_link {
display:inline;
float:left;
margin-left:25px;
}
*+html #personaltools {
position:relative;
left:40px;
}
*+html .inputLabel  {
width:280px !important;
}

*+html .contentViews li a {
border:1px solid #C3C3C3;
padding:0 1px !important;
}

*+html fieldset {
background:none repeat scroll 0 0 #E9E9E9 !important;
}

*+html fieldset legend {
margin-bottom: 10px !important;
}

*+html fieldset .hiddenStructure {
display:none !important;
}

*+html .LSBox input {
    width:205px !important;
}

*+html input.searchButton {
    width:65px !important;
    font-size:70% !important;
}

*+html .container_16 .grid_16 {
width:65% !important;
}

*+html h1.branding {
margin:0 0 0 65% !important;
}

*+html #searchbox_currentfolder_only {
    position:relative !important;
    right:95px !important;
}

*+html .searchSection label {
position:relative !important;
bottom:20px;
left:20px;
}

*+ #plonepopoll-viewlet #results .field fieldset {
width:200px !important;
}
/******************css fix for IE 6************/

* html .inputLabel  {
width:200px !important;
}s

* html .contentViews li a {
border:1px solid #C3C3C3;
padding:0 1px !important;
}

* html fieldset {
background:none repeat scroll 0 0 #E9E9E9 !important;
}

* html fieldset legend {
margin-bottom: 10px !important;
}

* html fieldset .hiddenStructure {
display:none !important;
}

* html #portal-breadcrumbs {
position:relative;
top:-100px;
z-index:1000 !important;
}

* html .grid_15 {
position:relative;
top:-120px;
z-index:1000 !important;
}

* html #folder-contents {
position:relative;
top:-90px;
}

* html .container_16 .grid_16 {
background:url("/logo.jpg") no-repeat scroll 15px 9px transparent;
position:relative;
top:-20px;
z-index:2000;
}

* html #footpanel {
position:fixed;
width:105%;
z-index:9999 !important;
}

* html .container_16 {
margin-left:4% !important;
margin-right:4% !important;
width:92% !important;
}

* html h1.branding {
position:relative;
right:1050px;
top:20px;
}

* html #status-messages-container  {
    display:none;
    position:relative;
    top:-10px!important;
}

* html #content {
    position:relative;
    top:140px !important;
}

* html #edit-bar {
    position:relative;
    top:160px !important;
}

* html .actionMenu .actionMenuHeader a {
display:inline !important;
}

* html .contentViews li a {
border:1px solid #C3C3C3 !important;
}

* html .portletThirdWidth {
    zoom:1 !important;
    display:inline !important;
    float:right !important;
    clear:right !important;
}

* html .portletHeader, .managedPortlet .portletHeader {
  zoom:1 !important;
}

* html .portletFooter {
  zoom:1 !important;
}

* html #content div {
  zoom:1 !important;
}

* html #logoutlink {
    position:relative;
    bottom:30px;
}

* html #plonepopoll-viewlet {
    position:relative !important;
    top:130px !important;

}

/************************************IE8 Fixes****************************/
#listing-table tr {
border /*\**/:1px solid red\9
}
.container_16 .grid_16 {
width /*\**/:63%\9
}

#login_form label {
    width: 7em;
    display: inline-block;
}
#login_form #__ac_password {
    margin-left: 0;
}
